<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Terms and Conditions</title>
</head>
<body>
<h1>Terms and Conditions Specific to Gift PPIs</h1>

<p>Welcome to PAULPAY GIFT CARDS PPIs (Physical Prepaid Card/Online e-Gift Card).</p>

<p>PaulPay Gift Cards/ PPIs is governed by the following terms and conditions (“Terms”) which are incorporated herein by way of reference. The Terms are effective upon acceptance of usage of PaulPay Gift Cards/PPIs, and governs the relationship between the Users of this Card/PPI ("You", "Your", "Yours" “PPI holder” or the "User" as the context may necessitate) and Paul Merchants Finance Private Limited , a Company incorporated and Registered under the Companies Act, 1956, having its Registered Office at Ground Floor, SCO 829-830, Sector 22- A, Chandigarh-160022 ("Company", “Paul Merchant”, "Us", "Our" or "We" as the context may necessitate).</p>

<p>Paul Merchant Finance Pvt. Ltd. (Company) shall issue Gift Cards/ PPIs under the brand name “Paul Pay”. You may purchase these Gift Cards / PPIs from our mobile app “PaulPay” and also through our site https://v2.paulpay.in</p>

<p>Please read the Terms and Conditions carefully before registering, accessing or using the PaulPay Gift Cards. These Terms and Conditions is a legal contract ("Agreement") between You and the Company.</p>

<p>These terms and conditions are in addition to the General Terms and Conditions as specified by Paul Merchants Pvt. Ltd. from time to time.</p>

<p>By using Paul Pay Gift Cards it shall be deemed to be agreeing unconditionally to the following terms and conditions:</p>


<h2>Gift Cards/PPIs</h2>

<p>Gift Cards/PPIs can be purchased in a form of a) Physical Cards and b) Online e-Gift Cards.</p>

<p>You can buy and gift these electronic gift cards referred as e- Gift Cards/PPIs to your family, friends, colleagues or others. These cards can be redeemed by the Receiver (family/ friends/Colleagues/Others) according to the details mentioned on such Gift Cards. </p>

<p>You/Purchaser/ Card holder can also purchase a Physical Gift Card and can further gift this card to your/their friends and family or others. The details how to redeem the amount from the physical Gift Card is also mentioned on the physical gift card issued by Paul Merchants (Company).</p>


<h2>Gift Cards’ Availability & Usage</h2>

<p>You/Purchaser/Cardholder can purchase these cards either by visiting (i) Paul Merchant’s (Company’s) Retail Outlets or (ii) Online by using PaulPay (Company’s) App.</p>

<p>Paul Pay Gift Cards can be used at Listed Outlets i.e. Merchant Establishments / Third Party Establishments to purchase goods and services.</p>

<p>You understand and agree that Company reserves a right to add or remove any listed Outlets from the list without giving any prior notice to you and at its sole discretion.</p>


<h2>Territory </h2>

<p>Gift Cards can be used for transactions in India only.</p>

<h2>Cash Withdrawal</h2>

<p>Withdrawal of Cash from physical or e- Gift cards is not permitted.</p>

<h2>Beneficiary</h2>

<p>The person who has valid Paul Pay Gift Cards and is a holder of Paul Pay Gift Cards is deemed to be the beneficiary.</p>

<h2>Charges</h2>

<p>PPI holder/You/Purchaser/ Cardholder can purchase Paul Pay Gift Cards for any amount provided the maximum value of each Gift Card instruments shall exceed an amount of Rs. 10,000/-.
    Each PPI holder/ You/Purchaser/Cardholder can purchase only Twenty (20) Paul Pay Gifts Cards per month, each Gift Card/PPI value shall not exceed an amount of Rs.10,000/-.
    You/ Purchaser/ Card holder can purchase these Gift Cards in denominations ranging from Rs.100/- to Rs.10,000/- or such other limits as Paul Merchants may determine from time to time.</p>


<h2>Your/Gift Cardholder/Purchaser Obligations</h2>

<p>You understand and agree to the following while purchasing the Paul Pay Gift Cards:
    I.	You shall provide KYC documents to the Company (Paul Merchants) as per the RBI guidelines. We will not require any separate KYC for those who have been issued such Gift cards / instrument against debit to their bank accounts and /or credit cards in India.

    II.	You can use Paul Pay Gift Cards only at the listed Outlets /Third Party Establishments of Paul Merchants.
    III.	You shall ensure, at all times, to keep the gift card protected and secured and the passwords that are generated by you strictly as confidential and not reveal the same to any person or entity. You agree that Company shall not be liable for any negligence whatsoever on your end.
    IV.	Gift Cards is a One-time use Gift Card/PPI with an expiration date mentioned on it. It is your /user’s responsibility to keep track of its expiry date.
    V.	These Gifts Cards cannot be reloaded, resold or transferred for value.

    VI.	These Gift Cards shall not be allowed to withdraw cash.
    VII.	You/Cardholder cannot use these Gift Cards to purchase other gift cards.
    VIII.	Under no circumstances You /Cardholder be allowed to return the Gift card once purchased and delivered.
    IX.	You shall pay all fees, surcharges, and applicable taxes if any with respect to PaulPay Gift Card as applicable from time to time.</p>

<h2>Validity</h2>

<p>The validity of Paul Pay Gift Card shall be for a period of 3 (Three) years and the same shall be mentioned on the Paul Pay Gift Card issued to You / Purchaser/ Cardholder/PPI holder. If the Paul Pay Gift Cards/ PPI is not used for a consecutive period of one year it shall be made inactive, which can be reactivated after validation and applicable due diligence.

    Any change regarding the validity or expiry of the Paul Pay Gift Card shall be at the discretion of Paul Merchants, You /Cardholder/ Purchaser/ PPI holder undertakes and agrees to abide by the same. </p>

<h2>Non- reloadable</h2>

<p>These Gift cards cannot be re-loaded though the Cardholder/Purchaser has an option to purchase a new Gift Card, as per the prescribed limit, any time of an amount as desired and permitted.

    No interest shall be payable on the amount credited by You/ PPI holder/ Cardholder/ Purchaser on the Card Account. The facility of balance transfer from one Card Account to another shall not be permitted. </p>

<h2>Exclusion from Liability</h2>

<p>You undertakes and agree that Paul Merchants shall not be liable for any of the following:
    I.	Any balance amount if available in Paul Pay Gift Cards and the same shall not be refunded to You/Purchaser/Card holder in cash or by credit note, at any point of time.
    II.	To pay any interest on any PaulPay Gift Cards or on Gift Cards balance issued to You /Cardholder/ PPI Holder.
    III.	Unused Paul Pay Gift Cards balances cannot be transferred to another users account but the same can be transferred to ‘back to source account’ (account from where Gift PPI was loaded) as and when requested by You/ Gift PPI holder.
    IV.	If Company suspend the operation of this agreement, at any time, due to change in its own license conditions or upon directions from the competent government authorities. In such a situation, Company shall not be responsible for any damage or loss caused or arisen out of aforesaid action.
    V.	Any defect in quality of goods or services including non-delivery or delay in delivery of the product supplied by the Merchant Establishment.
    VI.	Due to the malfunction of any computer/ POS terminal.
    VII.	In case of Fraud, the Company has a reason to believe that the card is being misued in such a scenario Paul Merchant reserves a right to terminate such a Gift Card.</p>

<h2>Lost/Stolen Gift Cards</h2>

<p>You/Purchaser/ Cardholder is responsible for the security of the Gift Card and agrees to take all appropriate steps to ensure the safekeeping thereof. The Cardholder shall be solely liable if the gift card gets lost/ stolen and agrees to incur all charges regarding the Card if reported as lost /stolen. You/ Purchaser/ Cardholder shall immediately intimate the customer care number 18001371333/ 9815535550, as provided on Paul Merchant’s Website, so as to avoid the misuse of such a card and shall also file a report with the local police regarding the same.

    Paul Merchants upon verification will cancel/ block such a card and upon request from You/Cardholder/Purchaser shall issue a new Gift Card payable at such applicable fee as prescribed under General Terms and Conditions.

    In such a case where the Paul Pay Gift Card is non-functional due to some technical defect, Paul Merchants upon getting satisfied shall issue the new/fresh Gift Card to You and if such a Gift card is found to be damaged due to the fault of You/Cardholder, Paul Merchants reserves the right to charge an applicable fee for the issuance of the fresh Gift Card.

    If the stolen or lost card is found or traced, You /Cardholder/ Purchaser shall immediately cut the card into half and shall inform regarding the same to the Customer care number as specified above and shall subsequently deliver the same to Paul Merchants (Company) at its retail outlet.</p>

<h2>Replacement of Gift Card</h2>

<p>Subject to the above mentioned Clause, You /Purchaser can seek a replacement of Gift Card in case the card gets stolen/lost/ damaged/ destroyed by paying an amount of Rs.150/- per replacement. You agree Paul Merchants (Company) shall not be liable for any such negligence committed at your end and Paul Merchants also reserves a right to refuse replacement if Company is suspicious of any fraudulent act being committed.</p>

<h2>Fraud </h2>

<p>If Your Paul Pay Gift Card is fraudulently obtained and the same is redeemed and/or used by fraudster to make purchases, Paul Merchants (Company) shall not be liable for the same. If such a fraudulent act comes under the notice of Paul Merchants, the company reserves a right to close your/ PPI holder’s account and you agree not to hold Paul Merchants liable regarding closure of your account. The security of Paul Pay Gift Cards is your sole responsibility.</p>

<h2>Merchant Outlets /Third Party Establishments</h2>

<p>PaulPay Gift Cards are acceptable at all such Merchant Establishments/ Outlets and such other agencies as recognized by Paul Merchants which have a POS Terminal. Upon the use of such Gift Card, You/ Card holder shall ensure to sign a charge slip/ sales slip printed electronically from the POS while the Card is used at a Merchant Establishment and shall also ensure to retain the customer copy to avoid any future discrepancies.

    In the event of any complaints concerning any Merchant Outlet/ Third Party Establishment, You/Card holder shall try to resolve the same at its own level and incase of any failure to do so, the Cardholder may notify and contact Paul Merchants customer care and register a complaint against such Merchant Establishment. Upon inquiring and verifying the nature of complaint Paul Merchants shall take appropriate steps to resolve the same at the earliest. You/ Purchaser/ Card holder agrees that Paul Merchants accepts no responsibility for any of your dealings with the Merchants including but not limited to supply of goods and services.

    In case of any defect in the product and services purchased by you from the Merchant Outlet including but not limited to non-delivery, delay in delivery, non-receipt of goods, Paul Merchants shall be have no liability regarding the same and you agree to resolve any issue related to this directly with such Third Party Establishment/ Merchant Outlet.

    In case of any dispute relating to the time of reporting and/ or transaction/s made on the Gift Card or any other matter in relation to the said Card, Paul Merchants shall reserve the right to ascertain the time and/ or the authenticity of the disputed transaction.
    All fees, surcharges, and applicable taxes with respect to Paul Pay Gift Card shall exclusively be borne by You/Purchaser/Cardholder. Paul Merchants shall have no liability whatsoever regarding the same.
    Any surcharge applicable on certain card transactions shall also be borne by You/ Card holder. In such an event, the same will be deducted from the card balance available in the Gift Card during the time of the transaction. If the funds in the card balance is not sufficient to provide for the surcharge, the transaction shall automatically be declined.
    You/ Cardholder may use the Card to make payments at Merchant/Third Party Establishments within India only.</p>

<h2>IPR Rights </h2>

<p>All logos, trademarks, patents, copyrights related to PaulPay as mentioned under these terms and conditions are the sole and exclusive property of Paul Merchants Finance Pvt. Ltd., and Paul Merchants have an exclusive right to modify and reassign these intellectual property rights, you agree not have any right, title, interest or license whatsoever therein.</p>

<h2>Indemnity</h2>

<p>You agree to indemnify defend and hold harmless Paul Merchants (Company) from and against any and all third party liability, losses, costs and expenses (including reasonable attorneys' fees) relating to or arising out of the breach of these terms and conditions, the negligence or willful misconduct by the you/purchaser, or its employees or agents.</p>

<h2>Limitation of Liability</h2>

<p>PAUL MERCHANTS MAKES NO WARRANTIES, EXPRESS OR IMPLIED, WITH RESPECT TO PAUL PAY GIFT CARDS, INCLUDING WITHOUT LIMITATION, ANY EXPRESS OR IMPLIED WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. IN THE EVENT A GIFT CARD IS NON-FUNCTIONAL, PAUL MERCHANT’s LIABILITY YOUR/ CARDHOLDER'S SOLE REMEDY SHALL BE RESTRICTED TO THE REPLACEMENT OF SUCH GIFT CARD.

    Company shall not be liable on account of any technical/administrative reasons if the Merchant Outlets/ Third Party Establishments listed with the Company refuses to accept the Gift Cards/PPIs issued by Company.</p>

<h2>Amendments/ Changes </h2>

<p>Paul Merchants have absolute discretion to amend/rectify/change any of the Terms and Conditions specified herein including but not limited to any charges as levied herein at any time and the same shall be communicated on Paul Merchant’s website. You/ Cardholder shall be responsible for regularly reviewing the Terms and Conditions, time to time. You/ Cardholder shall be deemed to have accepted the amended Terms and Conditions by continuing to use the Gift Cards.</p>

<h2>Governing law & Jurisdiction</h2>

<p>These terms and conditions are governed by and construed in accordance with the laws of India. You and Paul Merchants agree to submit to the exclusive jurisdiction of the Courts at Chandigarh.</p>

<h2>Interpretation</h2>

<p>Paul Merchants has the final authority on the interpretation of these terms and conditions.

    If a Paul Pay Gift Card gets blocked on account of any technical issue, it will get enabled in 72 hours. In case of transaction failures after Gift Card is applied, amount would be automatically refunded to the same card within 48 hours.

    For any queries / issues related to Paul Pay Gift Cards, you can write us care@paulfincare.com or call 18001371333 or 9815535550</p>



</body>
</html>